*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50px auto;
    background-color: #ffffff;
}

.logo img {
    max-width: 35%;
    height: auto;
    border:2px solid #989898;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    height: 100%;
    margin: auto;
    background-color: #ff0000;
}

.title h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
}